<!DOCTYPE html>
<html>
  <head>
    <title>Testing multiple running docker containers</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Testing multiple running docker containers</h1>
    <br />
    <p>Current page visits: <%= visits %></p>
  </body>
</html>
